/* Import the Lato font from Bunny Fonts */
@import url('https://fonts.bunny.net/css?family=lato:400,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your custom utility classes using @apply */
.btn {
  @apply px-4 py-1 rounded inline-block bg-teal-700 text-white cursor-pointer outline-none hover:bg-teal-800 disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none opacity-75 transition duration-200 ease-in-out hover:opacity-100 hover:text-teal-600;
}

/* use it for dynamic themes */
html.dark {
  background: #121212;
  color-scheme: dark;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
